extends layout

block content
    section(class='jumbotron text-xs-center')
        div(class='container')
            h1(class='jumbotron-heading')= title
            p(class="lead text-muted") 哈囉！歡迎挑戰
    div(class='container')
        img(src='/images/pinball.jpg' class='img-rounded m-x-auto d-block' style='height: 50vh')
        p(class='h4 text-xs-center') 請往下拉發球(物理)
