extends layout

block css
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")

block content
    span(class="pull-right")
        span(id="connect_status")
            i(class="fa fa-spinner fa-spin" aria-hidden="true")
            | &nbsp;連線中
    section(class='jumbotron text-xs-center')
        div(class='container')
            h1(class='jumbotron-heading')= title
            p(class="lead text-muted") 哈囉！歡迎挑戰
    div(id='welcome' class='container')
        img(id='pinball' src='/images/pinball.jpg' class='img-rounded m-x-auto d-block' style='height: 50vh')
        p(class='h4 text-xs-center') 請往下拉發球(物理)
    div(id='question' class='container' style="display: none;")
        div(class="card")
            div(class="card-header") 問題
            div(class="card-block")
                h4(class="card-title")
                    span(id="question_Q")
                    span(id="question_text")
                button(id="question_button_0" type="button" class="btn btn-secondary btn-lg btn-block")
                button(id="question_button_1" type="button" class="btn btn-secondary btn-lg btn-block")
    div(id='correct' class='container' style="display: none;")
        div(class="card")
            div(class="card-block")
                h2(class="card-title text-success text-xs-center") 恭喜你答對了去領糖果吧～～
                img(src='/images/correct.gif' class='img-rounded m-x-auto d-block' style='height: 50vh')
    div(id='wrong' class='container' style="display: none;")
        div(class="card")
            div(class="card-block")
                h2(class="card-title text-danger text-xs-center") 雖然錯了但還是去領個糖果吧XDDD
                img(src='/images/wrong.gif' class='img-rounded m-x-auto d-block' style='height: 50vh')

block javascript
    script(src="https://cdn.socket.io/socket.io-1.4.5.js")
    script(src="/javascripts/index.js")


